.heading-primary {
  color: $color_2;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    font-weight: 400;
    font-size: 6rem;
    display: block;
    letter-spacing: 4.2rem;
    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    font-weight: 400;
    font-size: 2rem;
    display: block;
    letter-spacing: 1rem;
    animation: moveInRight 1s ease-out;
    margin-left: -3rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: transparent;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right top,
    $color-primary_1,
    $color-primary_2,
    $color-primary_3,
    $color-primary_4,
    $color-primary_5
  );
  -webkit-background-clip: text;
  transition: all 0.3s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-primary_2, 0.6);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
