//COLOR
$color_1: #777;
$color_2: #fff;
$color_black: #00000033;
$color-primary_1: #051937cc;
$color-primary_2: #004d7acc;
$color-primary_3: #008793cc;
$color-primary_4: #00bf73cc;
$color-primary_5: #a6eb12cc;
$background-color-1: #fff;
$color_gray_light_1: #f7f7f7;

$color_secondary_light: #ffb900;
$color_secondary_dark: #ff7730;

$color_tertiary_light: #2998ff;
$color_tertiary_dark: #5643fa;

// $color_secondary_light: #ffb900;
// $color_secondary_light: #ff7730;

//Typography
$font-family_1: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

//GRID
$grid-width: 114rem;
$gutter_horizontal: 6rem;
$gutter_vertical: 8rem;
